

/* --- General Page Styles --- */

html {
  font-size: 16px;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Trocchi, Helvetica, sans-serif;


p {
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
  color: #0000000;
  font-size: 1.2em;
  font-style: italic;
}

.quote-container {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}

p.quote-text {
  padding: 0 5px 0 5px;
}

p.quote-author {
  font-size: 1em;
  padding-top: 10px;
  text-align: right;
}
